<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="joshi_order" frontName="joshi_order">
            <module name="Joshi_Order"/>
        </route>
    </router>
</config>
